.pagination {
	margin: 20px 0;
}

.pagination ul {
	display: inline-block;
	*display: inline;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul>li {
	display: inline;
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span
	{
	background-color: #f5f5f5;
}

.pagination ul>.active>a,.pagination ul>.active>span {
	color: #999999;
	cursor: default;
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus
	{
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}

.pagination ul>li:last-child>a,.pagination ul>li:last-child>span {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}

.pagination-centered {
	text-align: center;
}

.pagination-right {
	text-align: right;
}

.pagination-large ul>li>a,.pagination-large ul>li>span {
	padding: 11px 19px;
	font-size: 17.5px;
}

.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span
	{
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-topleft: 6px;
}

.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span
	{
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
}

.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span
	{
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
}

.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span
	{
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
}

.pagination-small ul>li>a,.pagination-small ul>li>span {
	padding: 2px 10px;
	font-size: 11.9px;
}

.pagination-mini ul>li>a,.pagination-mini ul>li>span {
	padding: 0 6px;
	font-size: 10.5px;
}

.pager {
	margin: 20px 0;
	text-align: center;
	list-style: none;
	*zoom: 1;
}

.pager:before,.pager:after {
	display: table;
	line-height: 0;
	content: "";
}

.pager:after {
	clear: both;
}

.pager li {
	display: inline;
}

.pager li>a,.pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.pager li>a:hover,.pager li>a:focus {
	text-decoration: none;
	background-color: #f5f5f5;
}

.pager .next>a,.pager .next>span {
	float: right;
}

.pager .previous>a,.pager .previous>span {
	float: left;
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span
	{
	color: #999999;
	cursor: default;
	background-color: #fff;
}

@import url(http://fonts.googleapis.com/css?family=Istok+Web);

@
keyframes slidy { 0% {
	left: 0%;
}

20%
{
left


:

 

0%;
}
25%
{
left


:

 

-100%;
}
45%
{
left


:

 

-100%;
}
50%
{
left


:

 

-200%;
}
70%
{
left


:

 

-200%;
}
75%
{
left


:

 

-300%;
}
95%
{
left


:

 

-300%;
}
100%
{
left


:

 

-400%;
}
}
figure {
	margin: 0;
	background: #101010;
	font-family: Istok Web, sans-serif;
	font-weight: 100;
}

div#captioned-gallery {
	width: 100%;
	overflow: hidden;
}

figure.slider {
	position: relative;
	width: 500%;
	font-size: 0;
	animation: 30s slidy infinite;
}

figure.slider figure {
	width: 20%;
	height: auto;
	display: inline-block;
	position: inherit;
}

figure.slider img {
	width: 100%;
	height: auto;
}

figure.slider figure figcaption {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	width: 100%;
	font-size: 2rem;
	padding: .6rem;
}

.leftNav {
	float: left !important;
	width: 10%;
}

.rightNav {
	float: right;
	width: 90%;
}

#map-canvas {
	width: 500px;
	height: 400px;
}

table {
	border: 1px !important;
	padding: 10px !important;
	margin: 10px !important;
}

#eventLeft {
	float: left;
	width: 20%;
	padding-bottom: 20px;
}

#eventRight {
	padding-left: 20px;
	width: 80%;
	float: left;
	text-align: left;
}

#wrap {
	position: relative;
	width: 100%;
	/* 	text-align:left;
	height: 100px;
 */
}

@media screen and (max-width:480px) {
	#wrap {
		width: 100%;
		height: auto;
	}
	#eventLeft {
		float: left;
		width: 100%;
	}
	#eventRight {
		width: 100%;
		float: left;
		text-align: left !important;
	}
}
/*   Calendar*/
time.icon {
	font-size: 1em; /* change icon size */
	display: block;
	position: relative;
	width: 7em;
	height: 7em;
	background-color: #fff;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff,
		0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
	overflow: hidden;
}

time.icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

time.icon strong {
	position: absolute;
	top: 0;
	padding: 0.4em 0;
	color: #fff;
	background-color: #ff6600;
	border-bottom: 1px dashed #f37302;
	box-shadow: 0 2px 0 #fd9f1b;
}

time.icon em {
	position: absolute;
	bottom: 0.3em;
	color: #ff6600;
}

time.icon span {
	font-size: 2.5em;
	letter-spacing: -0.05em;
	padding-top: 1.2em;
	color: #2f2f2f;
}

#subnav {
	position: fixed;
	top: 3.75em;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 1.25em;
	background-color: rgba(255, 255, 255, 0.95);
	background-image: url("images/overlay.png");
	line-height: 1.25em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	cursor: default;
}

#subnav ul {
	position: relative;
	z-index: 1001;
	padding-right: 80px;
}

#subnav li {
	display: inline-block;
	margin: 0 0.5em 0 0.5em;
	top: 0;
	position: relative;
	-moz-transition: top .15s ease-in-out;
	-webkit-transition: top .15s ease-in-out;
	-o-transition: top .15s ease-in-out;
	-ms-transition: top .15s ease-in-out;
	transition: top .15s ease-in-out;
}

#subnav li>ul {
	display: none;
}

#subnav li a,#subnav li span {
	-moz-transition: background-color .075s ease-in-out, color .075s
		ease-in-out;
	-webkit-transition: background-color .075s ease-in-out, color .075s
		ease-in-out;
	-ms-transition: background-color .075s ease-in-out, color .075s
		ease-in-out;
	transition: background-color .075s ease-in-out, color .075s ease-in-out;
	position: relative;
	display: block;
	text-decoration: none;
	color: #6b7770;
	top: -6px;
	padding: 6px 1.5em 0.25em 1.5em;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: 0;
}

#subnav li:hover,#subnav li.active {
	top: 3px;
}

#subnav li:hover a,#subnav li:hover span {
	background: #C1CAC5;
	color: #fff;
}

#subnav li.active a,#subnav li.active span {
	background: #C1CAC5;
	color: #fff;
}

#subnav li.current a {
	background: #428bca;
	color: #fff;
}

.table-bordered>thead>tr>th,.table-bordered>thead>tr>td {
	border-bottom-width: 2px !important;
	background-color: lightblue !important;
	text-align: center !important;
	font-weight: bold !important;
}

.table>thead>tr>th {
	vertical-align: bottom !important;
	border-bottom: 2px solid #ddd !important;
	background-color: lightblue !important;
	text-align: center !important;
	font-weight: bold !important;
}

.form-control {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	width: 50% !important;
}


#tendersInProcessGrid {
  background: white;
  outline: 0;
  border: 1px solid gray;
}

#newTendersGrid {
  background: white;
  outline: 0;
  border: 1px solid gray;
}

#worksGrid {
  background: white;
  outline: 0;
  border: 1px solid gray;
}

#worksCompletedGrid {
  background: white;
  outline: 0;
  border: 1px solid gray;
}

.slick-headerrow {
	background: #ADD8E6 !important;
}

.slick-headerrow-column{
	font-weight: bold !important;
	background-color: #ADD8E6 !important;
}

.slick-header-column.ui-state-default{
	font-weight: bold !important;
	background-color: #ADD8E6 !important;
	background: #ADD8E6 !important;
}

.slick-header-columns{
	background: #ADD8E6 !important;
}

.btn{
	padding: 2px 12px !important;
}



/* Style to add fields dynamically */
fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}

.add{
    background: #009933;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
input[type="text"],
select{
    padding:5px;
    margin-bottom: 10px;
}




table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
/* Style to add fields dynamically Ends */